
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.game_header {
  flex: 0 0 auto;
}

.game_zone {
  flex: 1 0 auto;
}

.game_footer {
  flex: 0 0 auto;
}

.game_header_list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-right: 3em;
  font-size: 1rem;
}

.game_header_link {
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
  /*text-transform: uppercase;*/
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-family: "Franklin Gothic Medium",sans-serif;
  font-weight: bold;
  text-align: center;
  color: var(--top-menu__links-text-color);
  transition: .2s linear;
}

.game_footer_list {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  font-size: 1rem;
}

.game_footer_link {
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Franklin Gothic Medium",sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--top-menu__links-text-color);
  transition: .2s linear;
}